<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{.Subject}}</title>
</head>
<body>
	<p>{{.Body | Str2html}}</p>
	<a href="{{.Link}}" style="color:#888;font-size:12px">view issue</a>
</body>
</html>
